In [1]:
print("Hello World")

Hello World

In [2]:
if 5>3 :
print("Wrong identation")

IndentationError: expected an indented block after 'if' statement on line 1 (2531875931.py, line 2)

In [3]:
if 5>3 :
    print("Right identation")

Right identation

In [4]:
#this is comment
print("comment test")

comment test

In [5]:
#this is comment
#python does not have multiline comment
print("comment test")

comment test

In [6]:
a = 5 
b = 6.0098
_car = 'BMW' #can use ' ' or " "
print(_car)
print(b)
print(a)

BMW
6.0098
5

In [7]:
car1, car2, car3 = 'BMW','Mercedes',"Volkwagen"
print(car1)
print(car2)
print(car3)

BMW
Mercedes
Volkwagen

In [8]:
car1 = car2 = car3 = "Viva"
print(car1)
print(car2)
print(car3)

Viva
Viva
Viva

In [9]:
name ='Dan'
print('My name is '+name)

My name is Dan

In [10]:
name = 'Dan'
ayat = 'My name is '
print(ayat+name)

My name is Dan

In [11]:
number1 = 20
number2 = 2020
print(number1+number2)

2040

In [15]:
#global variable 
location = 'sungai Petani'
def function1():
    #local variable
    location = 'Jitra'
    print(location)
    
function1()
print(location)

Jitra
sungai Petani

In [16]:
#global variable 
location = 'sungai Petani'
def function1():
    #global variable created
    #inside function
    global location
    location = 'Jitra'
    print(location)
    
function1()
print(location)

Jitra
Jitra

In [17]:
e = ["wij", "dan", "mohamad"]
print(e)
print(type(e))

['wij', 'dan', 'mohamad']
<class 'list'>

In [19]:
f = ("wij", "dan", "mohamad")
print(f)
print(type(f))

('wij', 'dan', 'mohamad')
<class 'tuple'>

In [20]:
e = ["wij", "dan", "mohamad"]
print(e)

e[2] = "ariff"
print(e)

['wij', 'dan', 'mohamad']
['wij', 'dan', 'ariff']

In [23]:
f = ("wij", "dan", "mohamad")
print(f)
f[2] = ariff
print(f)

('wij', 'dan', 'mohamad')

NameError: name 'ariff' is not defined

In [24]:
e = ["wij", "dan", "mohamad"]
f = ("wij", "dan", "mohamad")
print(e.__sizeof__())
print(f.__sizeof__())

72
48

In [25]:
h = {'name': 'wijdan', 'age':20}
print("his name is", h['name'])
print("his age is", h['age'])

his name is wijdan
his age is 20

In [26]:
print(1,2,3,4)
print(1,2,3,4, sep='#', end='.')

1 2 3 4
1#2#3#4.

In [28]:
x = 10
y = 2020
print("I am {} years old in {}".format(x,y))

I am 10 years old in 2020

In [29]:
print("i love {0} and {1}".format("Arun", "Haz"))
print("i love {1} and {0}".format("Arun", "Haz"))

i love Arun and Haz
i love Haz and Arun

In [30]:
z = input('Enter a Number :')
z

Enter a Number :200

'200'

In [31]:
name, age = input('enter your name: '), int(input("enter your age: "))

enter your name: Omar
enter your age: 20

In [32]:
x = 2 
y = 4 
print("x + y = ",x+y)
print("x - y = ",x-y)
print("x * y = ",x*y)
print("x / y = ",x/y)
print("x // y = ",x//y)
print("x ** y = ",x**y)

x + y =  6
x - y =  -2
x * y =  8
x / y =  0.5
x // y =  0
x ** y =  16

In [33]:
x = 2 
y = 4
print("x > y = ",x>y)
print("x < y = ",x<y)
print("x == y = ",x==y)
print("x != y = ",x!=y)
print("x >= y = ",x>=y)
print("x <= y = ",x<=y)

x > y =  False
x < y =  True
x == y =  False
x != y =  True
x >= y =  False
x <= y =  True

In [35]:
x = True
y = False
print("x and y = ", x>y)
print("x or y = ", x<y)
print("x not y = ",x==y)

x and y =  True
x or y =  False
x not y =  False

In [36]:
x = 8 
y = 4 

print(x&y)
print(x|y)
print(~x)#not
print(x^y)#exclusive or
print(x>>2)# bitwise right shift
print(x<<2)#bitwise left shift

0
12
-9
12
2
32

In [37]:
z = input("Enter a number: ")
z

Enter a number: 200

'200'

In [38]:
name, age = input("enter your name: "),int(input("enter your age"))

enter your name: wijdan
enter your age20